<%- include('../partials/head') -%> <%- include('../partials/navbar') -%>

    <div class="maintxt">
      <h1>About CodeSquad Comics</h1>
      <p>
        CodeSquad Comics is a collection of graphic novels read by YOUR NAME.
        Copyrighted images are used for review purposes only. Meta information
        about this collection can be found below. A detailed list of all the
        graphic novels in this collection can be found on the homepage.
        Additional details about each comic book, including the author, genre,
        number of pages, and a brief synopsis, can be found by navigating to the
        homepage and clicking the image of the book cover or the Details link
        for the desired graphic novel.
      </p>
      <h2>Collection Details</h2>
      <ul class="about">
        <li>Total Comic Books: 12</li>
        <li>Latest Additions: 12</li>
        <li>5-Star Ratings: 5</li>
        <li>Publishers: 9</li>
      </ul>
    </div>

<%- include('../partials/footer') -%>

