<footer>
  <div>
    <h4>Visit Us</h4>
    <p>CodeSquad Comics</p>
    <p>123 Dorchester Avenue</p>
    <p>Boston, MA 02124</p>
  </div>
  <div>
    <h4>Links</h4>
    <ul class="footerul">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
  <div>
    <h4>Follow Us</h4>
    <!-- <div class="footerul"> -->
    <ul class="footerulsocial">
      <li>
        <a href="https://giphy.com/clips/justin-MEdRTaYvZBlVMEjwZ3">
          <i class="fa-brands fa-square-facebook"></i
        ></a>
      </li>
      <li>
        <a href="https://media.giphy.com/media/18trqWNZnu33q/giphy.gif">
          <i class="fa-brands fa-square-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://giphy.com/clips/viralhog-W2j553r7gPinUhOrvJ">
          <i class="fa-brands fa-square-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <h4>A Product Of</h4>
    <img
      class="logo"
      src="/images/CodeSquad-logo-b.png"
      height="60%"
      width="60%"
      alt="CodeSquad logo."
    />
  </div>
</footer>
