<%- include('../partials/head') -%> <%- include('../partials/navbar') -%>

<div class="maintxt">
  <h1>Login</h1>
  <form
    action="https://www.w3schools.com/action_page.php"
    method="POST"
    target="_blank"
  >
    <fieldset class="loginfield">
      <label>Email Address:</label>
      <input type="text" name="Email" id="Email" minlength="1" required />
      <p>
        <label>Password:</label>
        <input
          type="text"
          name="Password"
          id="Password"
          minlength="10"
          required
        />
      </p>
      <input type="submit" value="Submit" />
    </fieldset>
    <h2 class="text-center">OR</h2>
    <p><a href="/auth/google" class="btn">Login with Google</a></p>
    <p>Don't Have An Account? <a href="/register" class="btn">Create one here.</a></p>
  </form>
</div>

<%- include('../partials/footer') -%>
